h1 {
    element.style 
    color: maroon;
    text-transform: uppercase;
    letter-spacing: 4px;

}
    
nav li {
    display: inline;
}

img {
    width: 10%;
}

/* Gallery */
.gallery {
    height: 600px;
}

.gallery {
    background: none;
}

body {
        background: url(../img/mochaGrunge/mochaGrunge.png);
}

p {
    font-size: 100px;
    font-family: 'Fontdiner Swanky', cursive, serif;
}

h1 {
    element.style 
    color: maroon;
    text-transform: uppercase;
    letter-spacing: 4px;

}
    

img {
    width: 10%;
}

body {
        background: url(../img/mochaGrunge/mochaGrunge.png);
}

p {
    font-size: 100px;
}

